<h3>Houses</h3>
<table class="table-bordered">
  <thead>
    <tr>
      <th>City</th>
      <th>Information</th>
    </tr>
  </thead>
  <tbody>
    <%= render @houses %>
  </tbody>
</table>

<%= render "/houses/form" %>
