<h2>Let's do some searching!</h2>

<%= form_tag "/searches", method: :post, class: "form-inline", remote: true do %>
  <%= text_field_tag "search_query", "", class: "js-autocomplete" %>
  <%= submit_tag "Save" %>
  <div id="results"></div>
<% end %>
