<div class="container">
  <div class="grid grid-center">
    <div class="grid-item 2/3">
      <h1>Elasticsearch demo</h1>

      <%= form_tag "/searches", method: :post, class: "form-inline" do %>
        <%= text_field_tag "search_query" %>
        <%= submit_tag "Save" %>
        <div id="results"/>
      <% end %>
    </div>
  </div>
</div>
